<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>SignUpCtl</servlet-name>
        <servlet-class>com.controller.SignUpCtl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignUpCtl</servlet-name>
        <url-pattern>/SignUpCtl</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogInCtl</servlet-name>
        <servlet-class>com.controller.LogInCtl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogInCtl</servlet-name>
        <url-pattern>/LogInCtl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogOutCtl</servlet-name>
        <servlet-class>com.controller.LogOutCtl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOutCtl</servlet-name>
        <url-pattern>/LogOutCtl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddFormCtl</servlet-name>
        <servlet-class>com.controller.AddFormCtl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddFormCtl</servlet-name>
        <url-pattern>/AddFormCtl</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SuspendFormCtl</servlet-name>
        <servlet-class>com.controller.SuspendFormCtl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SuspendFormCtl</servlet-name>
        <url-pattern>/SuspendFormCtl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CloseFormCtl</servlet-name>
        <servlet-class>com.controller.CloseFormCtl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CloseFormCtl</servlet-name>
        <url-pattern>/CloseFormCtl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowStatCtl</servlet-name>
        <servlet-class>com.controller.ShowStatCtl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowStatCtl</servlet-name>
        <url-pattern>/ShowStatCtl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FillFormCtl</servlet-name>
        <servlet-class>com.controller.FillFormCtl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FillFormCtl</servlet-name>
        <url-pattern>/FillFormCtl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReportFormCtl</servlet-name>
        <servlet-class>com.controller.ReportFormCtl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminatUser</servlet-name>
        <servlet-class>com.controller.AdminatUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportFormCtl</servlet-name>
        <url-pattern>/ReportFormCtl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminatUser</servlet-name>
        <url-pattern>/AdminatUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NormalizeUserCtl</servlet-name>
        <servlet-class>com.controller.NormalizeUserCtl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NormalizeUserCtl</servlet-name>
        <url-pattern>/NormalizeUserCtl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SuspendUSer</servlet-name>
        <servlet-class>com.controller.SuspendUserCtl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SuspendUSer</servlet-name>
        <url-pattern>/SuspendUSer</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveFormCtl</servlet-name>
        <servlet-class>com.controller.RemoveFormCtl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveFormCtl</servlet-name>
        <url-pattern>/RemoveFormCtl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChangePasswordCtl</servlet-name>
        <servlet-class>com.controller.ChangePasswordCtl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePasswordCtl</servlet-name>
        <url-pattern>/ChangePasswordCtl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetMessagesCtl</servlet-name>
        <servlet-class>com.controller.GetMessagesCtl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetMessagesCtl</servlet-name>
        <url-pattern>/GetMessagesCtl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MarkMessageAsReadCtl</servlet-name>
        <servlet-class>com.controller.MarkMessageAsReadCtl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MarkMessageAsReadCtl</servlet-name>
        <url-pattern>/MarkMessageAsReadCtl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveMsgCtl</servlet-name>
        <servlet-class>com.controller.RemoveMsgCtl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getNewMsgsNumCtl</servlet-name>
        <servlet-class>com.controller.GetNewMsgsNumCtl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReportsCtl</servlet-name>
        <servlet-class>com.controller.GetReportsCtl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveMsgCtl</servlet-name>
        <url-pattern>/RemoveMsgCtl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getNewMsgsNumCtl</servlet-name>
        <url-pattern>/getNewMsgsNumCtl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReportsCtl</servlet-name>
        <url-pattern>/GetReportsCtl</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoveRptCtl</servlet-name>
        <servlet-class>com.controller.RemoveRptCtl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveRptCtl</servlet-name>
        <url-pattern>/RemoveRptCtl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MarkReportAsReadCtl</servlet-name>
        <servlet-class>com.controller.MarkReportAsReadCtl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MarkReportAsReadCtl</servlet-name>
        <url-pattern>/MarkReportAsReadCtl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetNewRptNumCtl</servlet-name>
        <servlet-class>com.controller.GetNewRptNumCtl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetNewRptNumCtl</servlet-name>
        <url-pattern>/GetNewRptNumCtl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetFormsCtl</servlet-name>
        <servlet-class>com.controller.GetFormsCtl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetFormsCtl</servlet-name>
        <url-pattern>/GetFormsCtl</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UnSuspendForm</servlet-name>
        <servlet-class>com.controller.UnSuspendForm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UnSuspendForm</servlet-name>
        <url-pattern>/UnSuspendForm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckUserName</servlet-name>
        <servlet-class>com.controller.CheckUserName</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckUserName</servlet-name>
        <url-pattern>/CheckUserName</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckEmail</servlet-name>
        <servlet-class>com.controller.CheckEmail</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckEmail</servlet-name>
        <url-pattern>/CheckEmail</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShowFormCtl</servlet-name>
        <servlet-class>com.controller.ShowFormCtl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendMsgToForm</servlet-name>
        <servlet-class>com.controller.SendMsgToForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendMsgtoUsr</servlet-name>
        <servlet-class>com.controller.SendMsgtoUsr</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowFormCtl</servlet-name>
        <url-pattern>/ShowFormCtl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendMsgToForm</servlet-name>
        <url-pattern>/sendMsgToForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendMsgtoUsr</servlet-name>
        <url-pattern>/sendMsgtoUsr</url-pattern>
    </servlet-mapping>


</web-app>